.tasks {
  display: flex;
  gap: 40px;
  margin: 40px 0;
}

.add-form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.column {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0 7px 29px 0;
}
